<%- include('partials/navbar') %>

    <div class="row">
        <div class="col-sm-8">
            <input type="text" name="" id="texto" placeholder="Mensaje">
            <button id="btnEnviar">Enviar</button>
            <br>
            <input type="text" name="" id="textop" placeholder="Privado">
            <h5>para</h5>
            <select style="display: inline;" class="list-group" id="connectedUsers">

            </select>


            <button id="btnEnviarP">Enviar</button>

            <h3>Chat general</h3>
            <div id="chatgeneral">

            </div>
            <hr>
            <h3>Mensajes privados</h3>
            <div id="chatprivado">

            </div>
        </div>
        <div class="col-sm-4">
            <h4>Chat grupal</h4>
            <h5>nombre del grupo: </h5>
            

            <button class="grupos" id="makeGroup">Crear nuevo grupo</button>
            <hr>
            <ul class="list-group" id="groupList"></ul>
            <hr>
            <h4>Nombre del chat</h4>
            <div id="chatgrupal"></div>
            
        </div>
    </div>

    </div> <!--Del Container-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/juego.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    </body>

    </html>